{% include "main/header.html" with title="forside"%}

{% include "main/menu.html" %}

<div id="section">
    <h2>Hvad er forudsiger.dk?</h2>
    <h3>TL;DR</h3>
    <p>
        Siden er en dansk udgave af <a href="http://goodjudgment.com/gjp/">Good Judgment Project</a>. Lav en masse konkrete forudsigelser om konkrete begivenheder i fremtiden og find ud af hvor god du er til at forudsige fremtiden.
    </p>
    
    <h3>Længere version</h3>
    <p>   
        Hvor gode er populære debattører i medierne til at lave forudsigelser om fremtiden? Det er svært at sige fordi det aldrig er blevet empirisk testet. Det er ikke nemt at teste debattørernes forudsigelser i retrospekt fordi de typisk benytter sig af et vagt sprog, både hvad angår præcis hvad der forudsiges og hvad sandsynligheden for det er. Løsningen på dette er at få folk til at lave konkrete (numeriske) forudsigelser af om fremtidige begivenheder som har et klart sandhedskrieterie. Dette er blevet gjort på englesk, <a href="http://goodjudgment.com/gjp/">Good Judgment Project</a>, og resultaterne viser at nogle mennesker er meget bedre til at lave forudsigelser end andre. De viser dog endvidere at man kan blive meget bedre til det ved at øve sig og ved at lære om statistik og sandsynlighedslære.<br>
        Man kan læse mere om de videnskabelige resultater fra Good Judgment Project ved at læse bogen <a href="https://en.wikipedia.org/wiki/Superforecasting">Superforecasting: The Art and Science of Prediction</a>, eller ved at læse de videnskabelige papirer som er blevet udgivet om emnet.
    </p>
</div>

{% include "main/footer.html" %}
